
body {
    background-color: rgb(212, 191, 233);
    margin-left: 2%;
    margin-right: 2%;
    color: darkslateblue;
}

h1,
h2 {
    text-align: center;
}

p,
ul {
    text-align: justify;
    line-height: 1.5;
    font-size: 1.5em;
    text-indent: 20px;
}

img {
    margin: auto;
    display: block;
}
    <p style="font-size: 1.5em; color: indigo; text-align: justify; line-height: 1.5; text-indent: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore deserunt doloremque praesentium, totam cupiditate, molestias a quisquam vel, laudantium ipsum aliquid accusantium error nisi aliquam! Incidunt blanditiis et sit tenetur.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore deserunt doloremque praesentium, totam cupiditate, molestias a quisquam vel, laudantium ipsum aliquid accusantium error nisi aliquam! Incidunt blanditiis et sit tenetur.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore deserunt doloremque praesentium, totam cupiditate, molestias a quisquam vel, laudantium ipsum aliquid accusantium error nisi aliquam! Incidunt blanditiis et sit tenetur.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore deserunt doloremque praesentium, totam cupiditate, molestias a quisquam vel, laudantium ipsum aliquid accusantium error nisi aliquam! Incidunt blanditiis et sit tenetur.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore deserunt doloremque praesentium, totam cupiditate, molestias a quisquam vel, laudantium ipsum aliquid accusantium error nisi aliquam! Incidunt blanditiis et sit tenetur.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore deserunt doloremque praesentium, totam cupiditate, molestias a quisquam vel, laudantium ipsum aliquid accusantium error nisi aliquam! Incidunt blanditiis et sit tenetur.

    </p>
    <img src="img/imagem3.png" alt="texto escrito imagem 3 com fundo magenta">
</body>